* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.Header {
    text-align: center;
    margin-top: 200px;

}

.Header button {
    padding: 5px;
    width: 150px;
    position: relative;
}

.Header button img {
    display: flex;
    margin-left: 10px;

}

.Header button a {
    text-decoration: none;
    position: absolute;
    left: 80px;
    font-size: 25px;
    margin-top: -25px;
    margin-left: -25px;
    font-family: serif
}

.Header button {
    background-color: transparent;
    border: 2px solid#D552A0;
    border-radius: 30px;
    transition: transform 0.6s ease;
}

.Header button a {
    color: #D552A0;
}

.Header button a:hover {
    transform: scale(1.1);
}

.Header h1 {
    font-size: 60px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header p {
    display: inline-block;

}

.Header p a {
    padding: 20px;
    text-decoration: none;
    position: relative;
    top: -5px;
    color: black;

}

.Footer-Head {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-left: 15px;

}

.Footer {
    position: relative;
    margin-top: 100px;
    max-width: 70%;
    margin-left: 40px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    flex-wrap: wrap;
    transition: transform 0.6s ease;

}

.Footer:hover {
    transform: scale(1.1);
}

.imges {
    background-color: #FFAB0A;
    width: 90px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
}

.imges:hover {
    background-color: #18A661;
}

.imges img {
    position: absolute;
    padding: 5px;
    width: 15px;
}

.imges h6 {
    position: absolute;
    margin-left: 25px;
    margin-top: 5px;
    color: white;

}

.insight-heads img,
h3,
p,
h4 {
    padding: 5px;
    margin-left: 20px;
    /* */
}

/* .insight-heads :hover {
    Enlarges on hover
} */
.insight-heads p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.insight-heads h4 {
    display: inline-block;
}

.insight-heads button {
    position: absolute;
    padding: 4px;
    width: 70px;
    margin-left: 70px;
    background: transparent;
    border: 2px solid #FFAB0A;
}

.insight-heads button:hover {
    background-color: #18A661;
}

.shipping {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.shipping img {
    padding: 5px;
    display: inline-block;
}

.shipping h6 {
    display: inline-block;
    position: relative;
    right: 20px;
    top: 5px;
    font-weight: lighter;
}

.shipping h6:hover {
    cursor: pointer;
}

.View-Details {
    position: relative;
}

.View-Details button {
    background-color: #FFAB0A;
    border: 2px solid black;
    /* color: black; */
    width: 150px;
    height: 40px;
    border-radius: 40px;
    /* border-style: none; */
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    top: -30px;

}

.View-Details button:hover {
    background-color: #18A661;
}

.View-Details button h5 {
    position: absolute;

    left: 20px;
    display: inline-block;
    color: black;
    margin-top: -2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.View-Details button h5:hover {
    color: white;
}

.View-Details button img {
    position: absolute;
    top: 10px;
    /* font-size: 30px; */
    margin-right: 4px;

}

.View-Details button h5:hover {
    cursor: pointer;
}

.view-details-2 {
    position: relative;
    bottom: 50px;
    left: 90px;
}

.view-details-2 button {
    border-radius: 40px;
    width: 50px;
    height: 50px;
    padding: 10px;
    position: absolute;
    left: 20px;
    border: 2px solid #18A661;

    top: -15px;
    background-color: transparent;

}